@import "../util/mixins";

.section-cards {
    margin: 5rem 2rem 0;
    padding-bottom: 7.5rem;
    border-bottom: 1px solid $dark;
    @include grid-col-12;

    header {
        grid-column: 1 / -1;
        display: flex;
        align-items: flex-end;
        margin-bottom: 5rem;
        overflow: hidden;

        h1 {
            @include headline-64;
        }

        a {
            margin-left: auto;
            color: $dark;
            text-decoration: underline;
        }
    }

    a.card-big {
        &.grid-col-6 {
            grid-column: span 6;
        }

        &.grid-col-3 {
            grid-column: span 3;
        }

        article {
            img {
                max-height: 44rem;
            }

            h2 {
                @include body-copy-32;
                font-family: $display-font;
                font-weight: $display-roman;
                color: $dark;
                margin-top: 1.5rem;
            }

            p {
                @include body-copy-18;
                color: $gray;
                margin-top: 1rem;
            }
        }
    }
}
