@import "../util/mixins";

.section-text {
    margin: 5rem 2rem 0;
    padding-bottom: 7.5rem;
    border-bottom: 1px solid $dark;
    @include grid-col-12;

    &.right * {
        grid-column: 6 / -1;
    }

    p {
        @include body-copy-32;
        grid-column: span 7;
    }

    * + * {
        margin-top: 3rem;
    }

    figure {
        max-height: 44rem;
        overflow: visible;
        position: relative;

        figcaption {
            position: absolute;
            max-width: calc(((100vw - 2rem) - (11 * 1.5rem)) / 12);
            bottom: 0;
            margin: 0;
            left: -24px;
            transform: translateX(-100%);
            color: $gray;
        }

        img {
            max-height: 100%;
            width: 100%;
        }
    }
}