/* Colors */

$light: #ffffff;
$dark: #000000;
$gray: #757575;

/* Typography */

$display-font: neue-haas-grotesk-display, sans-serif;
$body-font: neue-haas-grotesk-text, sans-serif;

// Sizes
$size-18: 1.125rem;
$size-32: 2rem;
$size-64: 4rem;
$size-96: 6rem;

// Line Height
$default-line-height: 1.5;
$headline-line-height: 1;

// Weights
$body-roman: 400;
$display-roman: 500;