/* Colors */

$light: #ffffff;
$dark: #000000;
$gray: #505050;

/* Typography */

$main-font: neue-haas-grotesk-display, sans-serif;

// Sizes
$size-18: 1.125rem;
$size-32: 2rem;
$size-64: 4rem;
$size-96: 6rem;

// Line Height
$default-line-height: 1.5;
$headline-line-height: 1;

// Weights
$roman: 500;