/* Global Styling */
@import '../util/mixins', '../util/variables';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	text-decoration: none;
	list-style: none;
    font-family: $body-font;
	background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: $light;
    color: $dark;
	padding-bottom: 2rem;
}

html {
	scroll-behavior: smooth;
}

img {
	object-fit: cover;
}
